/* Общие стили и шрифты */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

img,
picture,
video {
  max-width: 100%;
  height: auto;
}

/* пригодится, если переводить в Less:
@navy_bkgr: #112B45;
@white: #FFFFFF;
@blue: #315BEF;
@accent: #66DD8D;
@text_legal_main: #D4D4D4;
@text_2: #F4F4F4;
@footer-background: #081D31;
*/

/* oxygen-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxygen-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/oxygen-v15-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* oxygen-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oxygen-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/oxygen-v15-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* poppins-600 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* poppins-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* manrope-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v13-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
body {
    background-color: #112B45;
    font-family: Oxygen, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #FFFFFF;
    margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.nobullet {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notextdecoration {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.visually-hidden {
  display: none;
}

.accent-color {
  color: #66DD8D;
}

h1, h2, strong, legend, .accent-font, .request-button {
  font-family: 'Poppins', Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.06em;
  }

.slim-font, .legal-link, label, option, select {
  font-family: 'Manrope', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* header styles */

header {
  background-image: url("../img/mask_bg_about_mobile.png"), url("../img/bkgr_about_mobile.jpg");
  background-size: cover, cover; 
  background-color: rgba(17, 43, 69, 0.8);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  transition-duration: 5ms;  
}

.header-wrapper {
  padding: 0 1rem;
}

.header-wrapper:not(.no-background) {
  min-height: 100vh;
}

.no-background {
  background-image: none;
  min-height: auto;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

header .logo-img {
  margin-top: 8px;
  /* в моб.дизайне для юр.страницы этого маржина нет, а на всех остальных страницах есть. Считаю ошибкой дизайна*/
}

/* меню в header скрыто для мобильных */ 
.header-menu-list, .flyout-only {
    display: none;  
}

/* в мобильном только символ, который по нажатию раскрывается в меню */
header .menu-logo-img {
  margin-top: 40px;
  margin-right: 4px;
  /* в моб.дизайне размеры этого маржина разные на разных стр-цах.*/
}

header a {
      text-decoration: none;
      font: inherit;
      color: inherit;
    }

.header-menu-list .menu-item a:hover, 
.header-menu-list .menu-item a:active, 
.header-menu-list .menu-item a:focus {
  color: #66DD8D;
}

.menu-logo-link {
  display: inline-block;
  padding: 12px; /*increase tap target size*/
}

/* fly-out menu */

header.active .menu-logo-img {
  margin-top: 16px;
  margin-left: 8px;
}

header.active {
  background-blend-mode: darken, darken;
  min-height: 568px;
}

header.active .header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  backdrop-filter: brightness(30%) contrast(75%) grayscale(50%);
}

header.active .header-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #112B45;
  width: calc(100% - 50px);
  min-height: 568px; /*лучше поставить min-height: 90vh, но тогда надо перекодировать flex*/
  border-bottom: solid 1px rgba(34, 34, 34, 0.7);
}

header.active .flyout-only{
  display: block;
}

header.active .header-menu-list li{
  width: 100%;
  text-align: left;
  padding-top: 15px; 
  padding-bottom: 15px;
  padding-left: 22px;
  height: 53px;
}

header.active .header-menu-list .menu-item:not(:first-child) {
 border-top: solid 1px rgba(255, 255, 255, 0.17);
}

header.active ul .menu-flyout-title {
  background: #315BEF;
  font-size: 1rem;
  line-height: 0.94;
  text-align: center;
}

header.active ul .menu-flyout-contact {
  font-size: 1rem;
  line-height: 1.5;
}

header.active .menu-flyout-contact.email {
  min-height: 250px; 
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
}

header.active .menu-flyout-contact.phone {
  align-self: flex-end;
}

/* header для десктопов */ 

@media screen and (min-width: 900px) {
  
  header {
    background-image: url("../img/mask_bg_about_mobile.png"), url("../img/bkgr_about_desktop.jpg");
  }

  .header-wrapper {
    padding: 0 2rem;
  }
  
  .header-menu-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 21px;
    }
        
  header .mobile-only, .flyout-only {
      display: none;    
    } 

  header .menu-item:not(:last-child) {
      margin-right: 32px;
    }
   
  h1, h2, strong, legend, .accent-font, .request-button {
    font-weight: 700;
    }  
  }

/* end of header */  

/* About section start */

.about h1 {
  padding-top: calc(48vh - 83px); /*в начале каждого раздела отступ указан снизу вверх*/
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 18px;
}

.about li {
  margin-bottom: 12px;
}

.about li:last-child {
  margin-bottom: 26px;
}

.about li::before {
  content: url(../img/Icon_Octagon_Check-min.svg);
  padding-right: 18px;
  display: inline-block;
  vertical-align: middle;
  /*учили задавать через background-image: url(../img/Icon_Octagon_Check-min.svg) + позиционирование, но вроде бы это больше кода*/
}

.request-button {
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 700;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  background: #315BEF;
  border-radius: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: 0 auto;
}

.request-button:hover, 
.request-button:focus,
.request-button:active {
  background: linear-gradient(267.74deg, #315BEF 3.51%, #66DD8D 98.41%);
  transition: all .3s;
}

.request-button:active {
  outline: 2px solid #66DD8D;
  color: #112B45;
}

@media screen and (min-width: 900px) {
  .about h1 {
    padding-top: calc((100vh - 254px) / 2 - 112px);
    font-size: 2.25rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 26px;
  }

  .about li:last-child {
    margin-bottom: 34px;
  }
  
  .request-button {
    display: inline-flex;
    padding: 16px 32px;
  }

  .request-button.narrow {
    width: fit-content;
  }
}

/* end of About section */

/* Marketing section start */

.marketing {
  margin-top: 64px;
}

.marketing .wrapper {
  position: relative;
}

.marketing-image {
  display: block;
  background: url('../img/bkgr_marketing.jpg') #112B45 no-repeat center; 
  background-size: cover;
  min-height: 160px;
  border-radius: 300px;
  position: relative;
  margin: 0 16px;
  margin-bottom: 24px;
}
  
.marketing-image::before, .marketing-image::after {
  content: "";
  display: block;
  background: linear-gradient(267.74deg, #315BEF 3.51%, #66DD8D 98.41%);
  background-size: cover;
  filter: blur(16px);
  border-radius: 220px;
  width: 95%;
  min-height: 128px;
  position: absolute;
  top: -8px;
  left: 2.5%;
  z-index: -1;
}

.decorative-line-marketing {
  content: url(../img/decorative_1about_mobile.svg);
  position: absolute;
  top: -40px;
  right: 0px;
}
  
.marketing-text-container {
  margin: 0 16px;
}

.marketing h2 {
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 16px;
  max-width: 22ch;
}

.marketing-info {
  position: relative;
  margin-bottom: 24px;
}

@media screen and (min-width: 900px) {
  
  .marketing {
    margin-top: 120px;
  }
    
  .decorative-line-marketing {
      content: url(../img/decorative_1about_desktop.svg);
      top: 297px;
      right: 29px;
      z-index: -6;
  }

  .marketing-image {
    min-height: 362px;
    border-radius: 220px;
    margin: 0 30px;
    margin-bottom: -24px;
    position: relative;
  }
    
    /* animation starts. Only CSS Houdini - supported browsers */ 
  
    @property --angle-rotate {
      syntax: "<angle>";
      initial-value: 268deg;
      inherits: false;
    }

    @keyframes spin {
      from {
        --angle-rotate: 0deg;
      }
      to {
        --angle-rotate: 360deg;
      }
    }

    .marketing-image::before, .marketing-image::after  {

      min-height: 281px;
      top: -11px;
      background: linear-gradient(var(--angle-rotate), #315BEF 3.51%, #66DD8D 98.41%);
      animation: spin 2s linear infinite;
      filter: blur(32px);
    }
    
    .request-button:hover, 
    .request-button:focus,
    .request-button:active {
          background: linear-gradient(var(--angle-rotate), #315BEF 3.51%, #66DD8D 98.41%);
          animation: spin 2.5s linear infinite;
          transition: all .3s;
      }

    /* animation ends */ 

  .marketing-text-container {
    margin-left: 124px;
    margin-right: auto;
  }
        
  .marketing h2 {
    margin-bottom: 24px;
    margin-top: 0px;
    z-index: 3;
    font-size: 4rem;
    position: relative;
  }
      
  .marketing-info {
    margin-bottom: 32px;
    max-width: min(35vw, 423px);
    display: block;
    }
     
 
}

/* end of Marketing section */

/* Services section start */

.services {
  /* margin-top: 58px; */
}

.services .wrapper {
  position: relative;
  padding: 0 16px;
}

.services h2 {
  font-size: 48px;
  line-height: 0.9;
  margin-top: 58px;
  margin-bottom: 16px;
  position: relative;
}

.services h2::before {
  content: "";
  width: 136px;
  height: 136px;
  background: #66DD8D;
  opacity: 0.4;
  filter: blur(50px);
  position: absolute;
  top: -130px;
  left: -68px;
  z-index: -3; 
}

.decorative-line-services {
  content: url(../img/decorative_2services_mobile.svg);
  position: absolute;
  top: 13px;
  right: 8px;
  z-index: -1; 
}

.services ul {
  display: grid;
  gap: 24px;
}

.services li {
  width: 100%;
  background: rgba(25, 63, 102, 0.32);
  backdrop-filter: blur(16px);
  border-radius: 24px;
  padding: 16px;
}

.services li strong {
  font-size: 24px;
  line-height: 0.92;
  margin-bottom: 16px;
}

strong {
  display: block;
}

.services li strong::before {
  padding-top: 8px;
  margin-bottom: 80px;
  display: block;
}

.services li:nth-child(1) strong::before {
  content: url(../img/services1_data.svg);
  padding-left: 12px;
  width: 24px;
  height: 32px;
}

.services li:nth-child(2) strong::before {
  content: url(../img/services2_window.svg);
  padding-left: 6px;
  width: 36px;
  height: 32px;
}

.services li:nth-child(3) strong::before {
  content: url(../img/services3_clock.svg);
  padding-left: 6px;
  padding-top: 6px;
  width: 32px;
  height: 32px;

}

.services li p {
  margin-top: 0;
  margin-bottom: 32px;
}

@media screen and (min-width: 900px) {
   
  h2 {
    /*this is h2 for services, founder and contacts*/
    line-height: 0.9;
  }

  .services h2 {
    line-height: 0.9;
    margin-top: 200px;
    margin-bottom: -26px;
    margin-left: 93px;
    font-size: min(128px, calc(108px + 20 * (48vw - 420px) / 140));
    /*
      calc(108px + (128-108) * (48vw - 420px) / (560 - 420));
      108px: min font size at body width 900
      128px: max font size at body width 1200 
      420px: min text box size
      560px: max text box size
      Formula from: https://www.smashingmagazine.com/2016/05/fluid-typography/ */

  }

  .services h2::before {
    width: 288px;
    height: 288px;
    opacity: 0.7;
    filter: blur(150px);
    top: -190px;
    left: -260px;    
  }

  .decorative-line-services {
    content: url(../img/decorative_2services_desktop.svg);
    top: 34px;
  }
  .services ul {
   grid-template-columns: 1fr 1fr 1fr;
   /*в дизайне средняя колонка на 28px шире других, 
   а паддинги в 3-й колонке меньше, чем в первых двух. 
   Эти различия больше похожи на баг, чем на фичу, 
   поэтому делаю колонки и отступы равными*/
   gap: 10px;  
   margin: 0 30px;
  }

  .services li {
    display: grid;
    grid-template-rows: 224px max-content;
    backdrop-filter: blur(24px);
    padding: 26px;
  }

  .services li:first-child {
    backdrop-filter: none;
  }

  .services li strong {
    margin-bottom: 24px;
  }
  
  .services li strong::before {
  padding-top: 11px;
  margin-bottom: 122px;  
  }

  .services .request-button {
    margin-bottom: 30px;
    align-self: end;
  }
}

/* end of Services section */


/* Founder section start */

.founder .wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 16px;
}

.green-blur {
  display: block;
  width: max(68px, calc(68px + 68 * (100vw - 1200px) / 300));
  max-width: 136px;
  
  width: 84px;
  height: 136px;
  background: #66DD8D;
  opacity: 0.4;
  filter: blur(50px);
  position: absolute;
  top: 116px;
  right: 0px;
  z-index: -3; 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.founder h2 {
  font-size: 3rem;
  line-height: 0.9;
  margin-top: 58px;
  margin-bottom: 8px;
  position: relative;
}

.founder p {
  margin-bottom: 24px;
  width: 90%;
}

.clouds-wrapper {
  overflow-x: hidden;
  width: min(100vw, 1200px);
  position: absolute;
  height: 950px;
  margin: 0 auto;
  left: 0;
}

.clouds {
  background: url('../img/bkgr_contacts_white-clouds.png') no-repeat center;
  display: block;
  position: absolute;
  background-size: cover;
  width: 1021px;
  height: 539px;
  left: -300px;
  top: 300px;
  overflow-x: hidden;
  opacity: 0.7;
  transform: rotate(21.85deg);
}

.img-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}

.founder img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 900px) {

  .founder .wrapper {
    flex-direction: row;
    padding: 0 30px;
  }
  
  .green-blur {
    width: max(180px, calc(70px + 250 * (100vw - 1200px) / 400));
    max-width: 320px;
    height: 320px;
    filter: blur(130px);
    position: absolute;
    top: 260px;
    right: clamp(-250px, calc(0px - 250 * (100vw - 1200px) / 500), 0px);
    border-radius: 50%;    
  } 

  .founder h2 {
    margin-top: 293px;
    margin-bottom: 21px;
    margin-left: 48px;
    order: 2;
    font-size: min(128px, calc(108px + 20 * (48vw - 420px) / 140));
  }

  .decorative-line-founder {
    content: url(../img/decorative_3founder_desktop.svg);
    position: absolute;
    top: calc(293px + 23%);
    left: min(calc(290px + (470 - 290) * (100vw - 900px) / (1200 - 900)), 470px);
  }

  .founder p {
    order: 3;
    margin-left: -280px;
    margin-top: 431px;
  }

  .clouds-wrapper {
    height: 1400px;
  }

    .clouds {
    width: 1351px;
    height: 713px;
    left: -444px;
    top: 545px;
    transform: none;
    opacity: 1;
  }

  .img-wrapper {
    min-width: 44%;
    margin-top: 200px;
    order: 1;
  }

  .founder img {
    width: auto;
    height: auto;

  }

}

/* end of Founder section */

/* Contacts section start */

.contacts .wrapper {
  padding: 0 16px;
}

.contact-info-wrapper {
  position: relative;
}

.contacts h2 {
  margin-top: 101px;
  font-size: 0;
}

.contacts a {
  font-size: 24px;
  line-height: 0.92;
  text-align: center;
  padding-bottom: 13px;
  display: block;
}

.contacts a:last-child {
  padding-bottom: 24px;
}

/* form start */ 

.contacts form {
  background: rgba(134, 134, 134, 0.22);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px;
  /* margin: 0 auto; */
  margin-bottom: 33px;

}

.contacts fieldset {
  padding: 16px;
  line-height: 0; /*this was needed to manually style the line-heights so they don't go out of place*/
  font-size: 1rem; /*the font for all form fields*/
  border: none;
  accent-color: #66DD8D;
 }

.contacts form legend {
  font-size: 2rem;
  line-height: 0.9;
  padding-top: 16px;
}

.contacts input, 
 .contacts select,
 .contacts option {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 1px #EBEBEB;
  line-height: 22px; /*px value is to match translateY below*/
  padding-top: 16px;
  padding-bottom: 4px;
}

.floating-labels label {
  display: inline-block;
  transform: translate(-1px, -22px); /*translateY = line-height per design*/
  /*floating labels ideas: https://codepen.io/team/css-tricks/pen/XVBLRM; https://dev.to/felix/floating-input-placeholders-with-html-css-ej4 */
  transition: all 0.2s ease-out;
}

.floating-labels input::placeholder {
  opacity: 0; /*hiding it to avoid visual overload*/
}

.floating-labels input:focus + label,
.floating-labels input:not(:placeholder-shown) + label {
  transform: translate(0, -38px);
  transition: all 0.2s ease-out;
  font-size: 0.8rem;
}

.floating-labels input:hover + label {
  opacity: 0.7;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
select {
  color: #66DD8D; 
  font-size: 16px;
  font-family: 'Manrope', Arial, sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="datetime-local"]:focus,
select:focus {
  border: 2px solid white;
  outline: #66DD8D 2px solid;
  transition: all .3s;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="datetime-local"]:focus-visible,
select:focus-visible {
  border: 2px solid white;
  outline: #66DD8D 1px solid;
  transition: all .3s;
}

label[for="datetime-field"] {
  position: relative;
  width: calc(100% - 20px);
}

label[for="datetime-field"]::after {
  content: url('../img/Icon_Calendar.svg');
  display: inline-block;
  position: absolute;
  pointer-events: none;
  top: -11px;
  left: 100%;
} 

.floating-labels input:focus + label[for="datetime-field"]::after,
.floating-labels input:not(:placeholder-shown) + label[for="datetime-field"]::after {
  transform: scale(0);
}

input[name="datetime-field"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /*не считаю необходимым подменять работающую в бразузере систему, лучше буду использовать его иконку, перекрасив её*/
  }

/* "Select" was styled based on https://www.w3docs.com/snippets/css/how-to-create-a-placeholder-for-an-html5-select-box-by-using-only-html-and-css.html 
    and https://web.dev/learn/forms/styling-form-controls/*/

.contacts select {
  appearance: none;
  background-color: inherit;
  background-image: url(../img/Icon_Caret_Down_SM.svg);
  background-repeat: no-repeat;
  background-position: right -12px top 50%, 0 0;
  background-size: 48px auto;
}

.contacts select:required:invalid {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px; /*line height within the form is fixed*/
}

.contacts option {
  background: #2a3f53;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contacts option:hover, .contacts option:focus  {
  background-color: #ffffff;
}

.contacts option:active, 
.contacts option:visited, 
.contacts option:target,
.contacts option:focus-within,
.contacts option:focus-visible,
.contacts option:checked,
.contacts option::selection
  {
  background-color: #315BEF;
}

.contacts option[value=""][disabled] {
  display: none;
}

label[for="origin-field"] {
  font-size: 0;
} 

.contacts label[for="pers-data-field"] {
  font-size: 14px;
  line-height: 1.3;
  padding-left: 12px;
} 

.contacts form input[type="checkbox"] {
  display: inline-block;
  margin-top: 27px;
  width: auto;
  position: relative;
}

.contacts form input[type="checkbox"]:not(:checked) {
  box-shadow: inset 0px 0 0px 2px #66DD8D;
}

.contacts form input[type="checkbox"]:checked {
  color: #66DD8D;
  box-shadow: inset 0px 0 0px 8px #2a3f53, 0px 0 0px 1px #66DD8D;
  /*чтобы не обнулять все автоматические браузерные стили, накладываю зелёную галочку поверх*/
}

.contacts form input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  top: -4px;
  left: 2px;
}

.contacts form .request-button {
  margin-top: 16px;
  padding-right: calc(50vw - 10ch);
  padding-left: calc(50vw - 10ch);
  border: none;
}

@media screen and (min-width: 900px) {

  .contacts .wrapper {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: min(30px, calc(9px + 21 * (100vw - 890px) / 310 )); /*min(9px + (30-9) * (100vw - 890px) / 1200 - 890)*/
    padding: 0 30px;
   }
 
  .contact-info-wrapper, .contacts-form {
    margin-top: 200px;
  }

  .contacts h2 {
    margin-top: 362px;
    margin-bottom: 64px;
    font-size: min(128px, calc(81px + 47 * (42vw - 360px) / 195));
    /*
      calc(81px + (128-81) * (42vw - 360px) / (555 - 360));
      81px: min font size at body width 900, column w 360
      128px: max font size at body width 1200, column w 555 
      360px: min text box size
      555px: max text box size
      Formula from: https://www.smashingmagazine.com/2016/05/fluid-typography/ */

  }

  .contacts a {
    font-size: min(64px, calc(40px + 24 * (42vw - 360px) / 195));
    /*calc(40px + (64-40) * (42vw - 360px) / (555 - 360));*/
    line-height: 0.92;
    text-align: left;
    padding-bottom: 32px;
  }

  .contacts form {
    background: rgba(104, 104, 104, 0.26);
    border-radius: 32px;
    margin-bottom: 98px;

  }
  
  .contacts fieldset {
    padding-left: 32px;
    padding-right: 32px;
    line-height: 0;
    font-family: 'Oxygen', Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
  
  .contacts form legend {
    font-size: 64px;
    font-size: min(64px, calc(48px + 16 * (50vw - 450px) / 150));
    /*calc (48px + (64-48) * (50vw - 450px) / (600 - 450))*/
    line-height: 0.92;
    padding-top: 32px;
  }
 
  .contacts input, 
  .contacts select,
  .contacts option {
    padding-top: 24px;
    padding-bottom: 8px;
    line-height: 30px; /*px value to match translateY below*/
  }

  .floating-labels label {
    transform: translate(-1px, -30px); /*translateY = line-height*/
  }

  .floating-labels input:focus + label,
  .floating-labels input:not(:placeholder-shown) + label {
    transform: translate(0, -55px);
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="datetime-local"],
  select {
    font-size: 24px;
    font-family: 'Oxygen', Tahoma, sans-serif;
  }

  .contacts select:required:invalid {
    font-size: 24px;
    line-height: 30px; /*px value to match translateY*/
  }

  label[for="datetime-field"]::after {
    /*padding-left: 170px;*/
  } 

  label[for="origin-field"]::after {
    top: -90px;
    left: 0px;
    background-color: #283b4e;
  }  

  .contacts form input[type="checkbox"] {
    margin-top: 36px;
  }
  
  .contacts form input[type="checkbox"]:checked::before {
    top: -8px;
  } 
  .contacts form .request-button {
    margin-top: 27px;
    padding-right: inherit;
    padding-left: inherit;
    display: block;
    margin-right: auto;
    margin-left: 0;
  }
}

/* end of Contacts section */

/* pers-data-processing section start */

.pers-data-processing  {
  display: block;
  color: #D4D4D4;
  margin-top: 32px; /*тут маржин снизу вверх, потому что на главной странице маржин другой, там тоже снизу вверх*/
  margin-bottom: 64px;
  max-width: 895px;
  /*В дизайне ширина абзацев варьируется, вероятно, чтобы создать визуально красивую форму страницы. 
    Я не стала pixel-perfect это повторять: 
    как только сгенерится новая легальная страница, вся красивая верстка поедет. */
}

.pers-data-processing  h1 {
  font-size: 24px;
  line-height: 0.9;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.pers-data-processing  h3 {
  /*Использую h3 для этой секции, чтобы h2 стилизовать иначе для главной*/
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.pers-data-processing p {
  margin-bottom: 16px;
}

.pers-data-processing ul {
  margin-bottom: 24px;
  margin-left: 24px;
}

.pers-data-processing li {
  margin-bottom: 8px;
}

.pers-data-processing a {
  color: inherit;
}

/* end of Pers Data Processing */

/* footer start */

footer {
  background: url("../img/symbol_white2_footer_mobile.png")  #081D31 no-repeat center;
  background-size: contain; 
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 52px;
}

.footer-top a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.footer-menu-list .menu-item {
  margin-bottom: 8px;
}

.footer-menu-list .menu-item a:hover, 
.footer-menu-list .menu-item a:active, 
.footer-menu-list .menu-item a:focus {
color: #66DD8D;
}

.footer-social {
  max-width: 40%;
}

.social-media-title {
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4F4;
}

.button-social {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 8px;
  background: #315BEF no-repeat center;
}

.facebook-icon {
  background-image: url('../img/icon_facebook.svg');
  background-size: 12px 12px;  /*почему-то только из этого правила браузер этот размер считывает*/
}

.insta-icon {
  background-image: url('../img/icon_instagram.svg');
  background-size: 12px 12px;  
}

.twitter-icon {
  background-image: url('../img/icon_twitter.svg');
  background-size: 12px 12px;  }

.linkedin-icon {
  background-image: url('../img/icon_linkedin.svg');
  background-size: 12px 12px;  
}

.telegram-icon {
  background-image: url('../img/icon_telegram.svg');
  background-size: 12px 12px;  
}

.whatsapp-icon {
  background-image: url('../img/icon_whatsapp.svg');
  background-size: 12px 12px;  
}

.button-social:hover, 
.button-social:focus,
.button-social:active  {
  transition: all .3s;
  transform: scale(1.2);
}

.button-social:active {
  border: 2px solid #ffffff;
}

.footer-legal {
  width: 100%;
  margin-bottom: 51px;
}

.legal-link {
  display: block;
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 8px;
  color: inherit;
}

.legal-link:hover, 
.legal-link:active, 
.legal-link:focus {
  color: #F4F4F4;
}

footer .logo-link {
  margin-bottom: 2rem;
 }

.footer-slogan {
  margin-bottom: 16px;
}

.footer-slogan-text {
  font-size: 24px;
  line-height: 1.5;
  color: #F4F4F4;
}

/* для десктопов - футер */ 
@media screen and (min-width: 900px) {
  footer {
    background: url('../img/symbol_white1_footer_desktop.png') #081D31 no-repeat center;
    background-size: contain; 
  }
  
  .footer-wrapper {
    align-content: space-between;
    align-items: center;
    padding: 0 30px;
    }

  .footer-top {
      margin-top: 32px;
      margin-bottom: 169px;
    }

  .footer-menu-list .menu-item {
      display: inline-block;
      margin-right: 32px;
    }

  .social-media-title {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 700;
      text-align: right;
    }

    .button-social {
      width: 48px;
      height: 48px;
      background-size: 24px 24px;
     }

     footer .logo-link {
      order: 2;
     }

     .footer-slogan {
      order: 3;
      width: 396px;
     }

     .footer-legal {
      order: 4;
      width: auto;
      margin-bottom: 48px;
     }
  }

  /* Конец футера для десктопов*/